<div class="container">

    <div>
        <h3>Registrar Medico</h3>
    </div>

    <form id="medicForm">
        <div class="row">
            <div class="col-md-4">
                <label for="">DNI: </label>
                <div class="form-group">
                    <input id="dni" name="dni" value="" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <label for="">N° de Celular: </label>
                <div class="form-group">
                    <input id="phone" name="phone" value="" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Especialidad</label>
                <div class="form-group">
                    <input id="specialism" name="specialism" value="" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <label for="">Nombre Completo: </label>
                <div class="form-group">
                    <input id="name" name="name" value="" class="form-control">
                </div>
            </div>

            <div class="col-md-12">
                <label for="">Asignar dias: </label>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <select name="day" id="day" class="form-control">
                                <option value="monday">Lunes</option>
                                <option value="tuesday">Martes</option>
                                <option value="wednesday">Miercoles</option>
                                <option value="thursday">Jueves</option>
                                <option value="friday">Viernes</option>
                                <option value="saturday">Sabado</option>
                                <option value="sunday">Domingo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-block" id="btnAddDay">Añadir</button>
                    </div>
                    <div class="col-md-12">
                        <div class="card" style="width: 100%; height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Dias asignados</h5>
                                <div id="daysContainer">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                Asignar Horas:
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Desde: </label>
                        <div class="form-group">
                            <select name="from" id="from" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="">Hasta: </label>
                        <select name="to" id="to" class="form-control">

                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button id="btnGuardar" class="btn btn-success btn-block">Guardar</button>
            </div>
        </div>
    </form>
</div>